.info_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    .info_elem{
        font-size: 20px;
        margin: 16px;
        font-family: Lato, sans-serif;
        color: whitesmoke;
    }
}