//Imports
@import './Media_SCSS/Breakpoints.scss';
@import './Media_SCSS/Variables.scss';

@include desktop {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40vw; //500px
        height: 80vh; //430px
        border-radius: 10px;
        border: 0.5px rgb(90, 90, 90) solid;
        background-color: #122338;
        text-align: center;
        margin: 0;
        user-select: none;
    }
}


@include Ipad_pro {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70vw; //500px
        height: 65vh; //430px
        background-color: #122338;
        text-align: center;
        margin: 0;
        user-select: none;
    }
}


@include Laptop {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 65vw; //500px
        height: 85vh; //430px
        background-color: #122338;
        text-align: center;
        margin: 0;
        user-select: none;
    }
}

@include Bg_mobile {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw; //500px
        height: 100vh; //430px
        background-color: #122338;
        border: 0px rgb(90, 90, 90) solid;
        border-radius: 0px;
        text-align: center;
        margin: 0;
        user-select: none;
    }
}

@include St_mobile {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // width: 100vw; //500px
        // height: 100vh; //430px
        background-color: #122338;
        text-align: center;
        margin: 0;
        user-select: none;
    }
}