.rules_div{
    .rules_title{
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 28px;
        color: rgb(233, 233, 233);
    }
    .rules_text{
        margin: 8px;
        font-size: 16.1px;
        color: rgb(223, 223, 223);
    }
}