.Header_intro_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 15vh;
    border-bottom: 0.7px rgb(172, 172, 172) solid;

    .show_info {
        width: 0vw;
        height: 0vh;
        display: none;
        opacity: 0;

        transition: all 0.2s linear;
        background-color: black;
        color: white;
        position: absolute;

        .close_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40vw;

            .close_button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0;
                padding: 10px 12px 20px 0px;
                cursor: pointer;

                .close_icon {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    padding: 0;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }

    .info {
        width: 40vw;
        height: 80vh;
        background-color: black;
        display: block;
        opacity: 1;
        transition: all 0.2s linear;
        margin-top: 61.5vh;
        color: white;
        position: absolute;
        border-radius: 10px;

        .close_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40vw;

            .close_button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0;
                padding: 10px 12px 20px 0px;
                cursor: pointer;

                .close_icon {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    padding: 0;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }

    .elem {
        width: 100px;
        height: 100px;
        background-color: rgb(105, 125, 179);
        border-radius: 20px;
        border: 2px white;
        cursor: pointer;
    }
}