// Variables

$main_color: rgb(24, 84, 92);

// Templates

%contact_flex {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}


.header_main {
    width: 500px;
    height: 130px;
    background-color: $main_color;
    display: flex;
    justify-content: center;
    align-items: center;

    .main_img {
        width: 200px;
        height: 100px;
        text-align: center;
        margin: 0;

        .image {
            border: 1px #888 solid;
            border-radius: 4px;
        }
    }

    .name_contact_main {
        width: 330px;
        height: 120px;

        .name_surname {
            margin: 4px 0px 6px 0px;
            font-size: 20px;
            font-family: cursive;
        }

        .contact {
            font-family: cursive;
            font-size: 15px;

            .contact_mail {
                @extend %contact_flex;
            }

            .contact_phone {
                @extend %contact_flex;
            }

            .contact_address {
                @extend %contact_flex;
            }

            .header_icons_mail {
                margin: 0px 4px 0px -1px;
            }

            .header_icons {
                margin: 0px 4px 0px 0px;
            }
        }
    }
}