.Start_page_div {
    color: aliceblue;
    .back_to_categories_div {
        width: 20vw;
        background-color: aquamarine;
        text-decoration-line: none;

        .back_to_categories {
            width: 50px;
            height: 50px;
        }
    }
}