//Imports

@import '../../Media_SCSS/Variables.scss';
@import '../../Media_SCSS/Breakpoints.scss';

//Media 

@include desktop {
    .Start_page_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        color: aliceblue;

        .back_to_categories_div {
            display: flex;
            align-items: flex-start;
            width: 40vw;
            padding-top: 25px;
            padding-left: 50px;
            text-decoration-line: none;

            .back_to_categories {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: aliceblue;
            }
        }

        .block_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 27vw;
            font-size: 27px;
            font-family: cursive;

            .count_minus {
                width: 30px;
                height: 30px;
                margin: 0;
                background-size: cover;
                cursor: pointer;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                background-image: url("./Spy_game_images/minus_icon.png");
            }

            .count_minus_opacity {
                width: 30px;
                height: 30px;
                margin: 0;
                background-size: cover;
                cursor: pointer;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                background-image: url("./Spy_game_images/minus_icon.png");
                opacity: 0.5;
            }

            .count_plus {
                width: 30px;
                height: 30px;
                margin: 0;
                background-size: cover;
                cursor: pointer;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                background-image: url("./Spy_game_images/plus_icon.png");
            }

            .count_plus_opacity {
                width: 30px;
                height: 30px;
                margin: 0;
                background-size: cover;
                cursor: pointer;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
                background-image: url("./Spy_game_images/plus_icon.png");
                opacity: 0.5;
            }
        }

        .button_lets_go {
            background-color: rgb(20, 20, 20);
            color: rgb(255, 255, 255);
            width: 180px;
            height: 60px;
            border: 0;
            border-radius: 10px;
            font-family: cursive;
            font-size: 25px;
            font-weight: 550;
            margin: 0;
            padding: 0;
            text-decoration-line: none;
            cursor: pointer;

            .link {
                margin: 0px;
                width: 100%;
                height: 50px;
                color: white;
                text-decoration-line: none;

                .link_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                }
            }
        }

        .ad {
            width: 40vw;
            height: 8vh;
        }
    }
}

//////////////////////////////////////////////////////////////////

@include Ipad_pro {
    .Start_page_div {
        .back_to_categories_div {
            width: 70vw;
            padding-top: 25px;
            padding-left: 50px;

            .back_to_categories {
                width: 60px;
                height: 60px;
            }
        }

        .block_div {
            width: 50vw;
            font-size: 35px;

            .count_minus {
                width: 50px;
                height: 50px;
            }

            .count_minus_opacity {
                width: 50px;
                height: 50px;
            }

            .count_plus {
                width: 50px;
                height: 50px;
            }

            .count_plus_opacity {
                width: 50px;
                height: 50px;
            }
        }

        .button_lets_go {
            width: 250px;
            height: 80px;
            font-size: 29px;

            .link {
                height: 80px;

                .link_text {
                    height: 80px;
                }
            }
        }

        .ad {
            width: 70vw;
            height: 7vh;
        }
    }
}

//////////////////////////////////////////////////////////////////

@include Laptop {
    .Start_page_div {
        .back_to_categories_div {
            width: 64vw;

            .back_to_categories {
                width: 55px;
                height: 55px;
            }
        }

        .block_div {
            width: 50vw;
            font-size: 29px;

            .count_minus {
                width: 45px;
                height: 45px;
            }

            .count_minus_opacity {
                width: 45px;
                height: 45px;
            }

            .count_plus {
                width: 45px;
                height: 45px;
            }

            .count_plus_opacity {
                width: 45px;
                height: 45px;
            }
        }

        .button_lets_go {
            width: 220px;
            height: 75px;
            font-size: 27px;

            .link {
                height: 75px;

                .link_text {
                    height: 75px;
                }
            }
        }

        .ad {
            width: 65vw;
            height: 7vh;
        }
    }
}

//////////////////////////////////////////////////////////////////

@include Bg_mobile {
    .Start_page_div {
        .back_to_categories_div {
            width: 91vw;
            padding-top: 25px;
            padding-left: 30px;

            .back_to_categories {
                width: 55px;
                height: 55px;
            }
        }

        .block_div {
            width: 80vw;
            font-size: 29px;

            .count_minus {
                width: 45px;
                height: 45px;
            }

            .count_minus_opacity {
                width: 45px;
                height: 45px;
            }

            .count_plus {
                width: 45px;
                height: 45px;
            }

            .count_plus_opacity {
                width: 45px;
                height: 45px;
            }
        }

        .button_lets_go {
            width: 220px;
            height: 75px;
            font-size: 27px;

            .link {
                height: 75px;

                .link_text {
                    height: 75px;
                }
            }
        }

        .ad {
            width: 65vw;
            height: 7vh;
        }
    }
}

//////////////////////////////////////////////////////////////////

@include St_mobile {
    .Start_page_div {
        .back_to_categories_div {
            width: 91vw;
            padding-top: 20px;
            padding-left: 15px;

            .back_to_categories {
                width: 45px;
                height: 45px;
            }
        }

        .block_div {
            width: 80vw;
            font-size: 21px;

            .count_minus {
                width: 33px;
                height: 33px;
            }

            .count_minus_opacity {
                width: 33px;
                height: 33px;
            }

            .count_plus {
                width: 33px;
                height: 33px;
            }

            .count_plus_opacity {
                width: 33px;
                height: 33px;
            }
        }

        .button_lets_go {
            width: 200px;
            height: 70px;
            font-size: 26px;

            .link {
                height: 70px;

                .link_text {
                    height: 70px;
                }
            }
        }

        .ad {
            width: 100vw;
        }
    }
}

//////////////////////////////////////////////////////////////////

@include Sm_mobile {
    .Start_page_div {
        .back_to_categories_div {
            width: 91vw;
            padding-top: 20px;
            padding-left: 15px;

            .back_to_categories {
                width: 35px;
                height: 35px;
            }
        }

        .block_div {
            width: 80vw;
            font-size: 17px;

            .count_minus {
                width: 28px;
                height: 28px;
            }

            .count_minus_opacity {
                width: 28px;
                height: 28px;
            }

            .count_plus {
                width: 28px;
                height: 28px;
            }

            .count_plus_opacity {
                width: 28px;
                height: 28px;
            }
        }

        .button_lets_go {
            width: 170px;
            height: 55px;
            font-size: 22px;

            .link {
                height: 55px;

                .link_text {
                    height: 55px;
                }
            }
        }

        .ad {
            width: 100vw;
        }
    }
}