/////////////////////////////////// Templates ///////////////////////////////////

%counter_plus_minus_icon {
    width: 30px;
    height: 30px;
    margin: 0;
    background-size: cover;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}


/////////////////////////////////// Style ///////////////////////////////////



.Start_page_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: aliceblue;

    .back_to_categories_div {
        display: flex;
        align-items: flex-start;
        width: 40vw;
        padding-top: 25px;
        padding-left: 50px;
        text-decoration-line: none;

        .back_to_categories {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: aliceblue;
        }
    }

    .block_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 27vw;
        font-size: 27px;
        font-family: cursive;

        .count_minus {
            @extend %counter_plus_minus_icon;
            background-image: url("./Spy_game_images/minus_icon.png");
        }

        .count_minus_opacity {
            @extend %counter_plus_minus_icon;
            background-image: url("./Spy_game_images/minus_icon.png");
            opacity: 0.5;
        }

        .count_plus {
            @extend %counter_plus_minus_icon;
            background-image: url("./Spy_game_images/plus_icon.png");
        }

        .count_plus_opacity {
            @extend %counter_plus_minus_icon;
            background-image: url("./Spy_game_images/plus_icon.png");
            opacity: 0.5;
        }
    }



    .ad {
        width: 40vw;
        height: 8vh;
    }
}