$breakpoint_4k_and_more_desktop:3000px;
$breakpoint_desktop: 1600px;
$breakpoint_Ipad_pro: 1024px;
$breakpoint_Laptop: 900px;
$breakpoint_bg_mobile: 650px;
$breakpoint_st_mobile: 420px;
$breakpoint_sm_mobile: 330px;