//Imports

@import '../Media_SCSS/Variables.scss';
@import '../Media_SCSS/Breakpoints.scss';

//Media

@include desktop {
    .intro_page_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100vh;

        .info {
            width: 40vw;
            height: 80vh;
        }

        .intro_image_title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 60px;

            .intro_page_title {
                width: 40vw;
                height: 7vh;
                user-select: none;
                font-size: 32px;
                color: white;
                font-family: cursive;
            }

            .intro_page_image_main {
                width: 100px;
                height: 100px;
            }

        }

        .intro_button {
            width: 15vw;
            height: 12vh;
            user-select: none;
            font-size: 35px;
            font-family: cursive;
            background-color: rgb(25, 25, 25);
            border: 1px solid white;
            border-radius: 20px;
            cursor: pointer;

            .intro_page_link {
                text-decoration: none;
                color: white;
            }
        }

        .ad {
            width: 50vw;
            height: 10vh;
            margin-top: 10px;
        }
    }
}



@include Ipad_pro {
    .intro_page_main {
        width: 50vw;
        height: 100vh;

        .info {
            width: 70vw;
            height: 65vh;
            margin-top: 50.7vh;

            .close_div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70vw;

                .close_button {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0;
                    padding: 20px 20px 20px 0px;
                    cursor: pointer;

                    .close_icon {
                        width: 40px;
                        height: 40px;
                        margin: 0;
                        padding: 0;
                        background-color: white;
                    }
                }
            }

            .rate_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 60vh;
                width: 70vw;

                .rate_text {
                    width: 50vw;
                    font-size: 20px;
                }
            }

            .rules_title {
                margin-top: 0px;
                margin-bottom: 25px;
                font-size: 28px;
            }

            .rules_text {
                margin: 8px;
                font-size: 23px;
            }
        }

        .intro_image_title {
            margin-bottom: 100px;

            .intro_page_title {
                width: 70vw;
                height: 7vh;
                font-size: 45px;
            }

            .intro_page_image_main {
                width: 150px;
                height: 150px;
            }

        }

        .intro_button {
            width: 25vw;
            height: 10vh;
            font-size: 43px;
            border: 2px solid white;
            border-radius: 30px;
        }
    }
}

@include Laptop {
    .intro_page_main {
        width: 50vw;
        height: 100vh;

        .info {
            width: 65vw;
            height: 85vh;
            margin-top: 67.7vh;

            .close_div {
                width: 65vw;

                .close_button {
                    padding: 20px 20px 20px 0px;
                    cursor: pointer;

                    .close_icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }

            .rate_div {
                height: 60vh;
                width: 70vw;

                .rate_text {
                    width: 50vw;
                    font-size: 25px;
                }
            }

            .rules_title {
                margin-top: 0px;
                margin-bottom: 25px;
                font-size: 28px;
            }

            .rules_text {
                font-size: 20px;
            }
        }

        .intro_image_title {
            .intro_page_title {
                width: 65vw;
                height: 7vh;
                font-size: 45px;
            }
        }

        .intro_button {
            width: 25vw;
            height: 10vh;
            font-size: 43px;
        }

        .ad {
            width: 50vw;
            height: 10vh;
            margin-top: 10px;
        }
    }
}



@include Bg_mobile {
    .intro_page_main {
        width: 50vw;
        height: 100vh;
        border: 0px;

        .info {
            width: 100vw;
            height: 100vh;
            margin-top: 83vh;
            border-radius: 0px;

            .close_div {
                width: 100vw;

                .close_button {
                    padding: 20px 20px 20px 0px;

                    .close_icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }

            .rate_div {
                height: 60vh;
                width: 100vw;

                .rate_text {
                    width: 80vw;
                    font-size: 26px;
                }
            }

            .rules_title {
                margin-top: 0px;
                margin-bottom: 25px;
                font-size: 28px;
            }

            .rules_text {
                font-size: 15px;
            }
        }

        .intro_image_title {

            .intro_page_title {
                width: 100vw;
                height: 7vh;
                font-size: 35px;
            }

            .intro_page_image_main {
                width: 120px;
                height: 120px;
            }

        }

        .intro_button {
            width: 30vw;
            height: 15vh;
            font-size: 37px;
        }

        .ad {
            width: 100vw;
            height: 10vh;
            margin-top: 10px;
        }
    }
}



@include St_mobile {
    .intro_page_main {
        width: 50vw;
        height: 100vh;

        .info {
            margin-top: 84vh;

            .rate_div {
                height: 60vh;
                width: 100vw;

                .rate_text {
                    width: 80vw;
                    font-size: 27px;
                }
            }

            .rules_title {
                margin-top: 0px;
                margin-bottom: 25px;
                font-size: 28px;
            }

            .rules_text {
                font-size: 11px;
            }
        }

        .intro_image_title {
            margin-bottom: 90px;

            .intro_page_title {
                width: 100vw;
                height: 8vh;
                font-size: 33px;
            }
        }

        .intro_button {
            width: 50vw;
            height: 12vh;
            font-size: 34px;
        }

        .ad {
            width: 100vw;
        }
    }
}


@include Sm_mobile {
    .intro_page_main {
        width: 50vw;
        height: 100vh;

        .info {
            .info_div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 60vh;

                .info_elem {
                    font-size: 13.2px;
                    margin: 16px;
                    font-family: Lato, sans-serif;
                    color: whitesmoke;
                }
            }

            .rate_div {
                height: 60vh;
                width: 100vw;

                .rate_text {
                    width: 80vw;
                    font-size: 23px;
                }
            }

            .rules_title {
                margin-top: 0px;
                margin-bottom: 25px;
                font-size: 24px;
            }

            .rules_text {
                font-size: 9px;
            }

            .languages_info_div {
                .languages_buttons {
                    .language_button {
                        width: 70px;
                        height: 70px; 
                    }
                }
            }
        }

        .intro_image_title {
            .intro_page_title {
                width: 100vw;
                height: 8vh;
                font-size: 33px;
            }
        }

        .intro_button {
            width: 50vw;
            height: 12vh;
            font-size: 34px;
        }
    }
}