.words_and_spy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    .word_text {
        font-size: 20px;
        color: whitesmoke;
        .spy_text{
            color: rgb(211, 34, 34);
        }
        .next_player_text {
            font-size: 25px;
            color: whitesmoke;
        }
    }
}