// variables

$backcolor: #0f1817;
$elemwidth: 300px;
$elemheight: 30px;
$bordradius: 16px;
$transition: all 0.2s linear;
$elemcolor: white;

// templates

%nullcss{
  margin: auto;
  cursor: pointer;
}

%burgercss{
  width: $elemwidth;
  height: $elemheight;
  background-color: $elemcolor;
  transition: $transition;
  border-radius: $bordradius;
}


// main 

body{
  background-color: $backcolor;
  user-select: none;
  color: white;
}
.App {
  position: relative;
  position: absolute;
  top: 25%;
  left: 25%; 
  color: white;
}
.flex{
  width: $elemwidth;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
}
.burger{
  @extend %nullcss;
}
.x{
  @extend %nullcss;
}


.burger{
  .flex{
    .first{
      @extend %burgercss;
    }
  }
}


.burger{
  .flex{
    .second{
      width: $elemwidth;
      height: $elemheight;
      background-color: $elemcolor;
      display: block;
      opacity: 1;
      transition: $transition;
      border-radius: $bordradius;
    }
  }
}


.burger{
  .flex{
    .third{
      @extend %burgercss;
    }
  }
}

/////////////////////////////////////////////////

.x{
  .flex{
    .first{
      width: $elemwidth;
      height: $elemheight;
      background-color: white;
      transition: $transition;
      border-radius: $bordradius;
      transform: rotate(45deg);
    }
  }
}


.x{
  .flex{
    .second{
      width: $elemwidth;
      height: 0px;
      transition: $transition;
      opacity: 0;
    }
  }
}


.x{
  .flex{
    .third{
      width: $elemwidth;
      height: $elemheight;
      background-color: white;
      transition: $transition;
      margin-top: -180px;
      border-radius: $bordradius;
      transform: rotate(-45deg);
    }
  }
}



/*react and js*/
/* .react{
  background-image: url('./logo192.jpg');
  background-size: cover;
  color: black;
  width: 300px;
  height: 300px;
  cursor: pointer;
  font-size: 50px;
}
.js{
  background-image: url('./800px-JavaScript-logo.png');
  background-size: cover;
  color: #eee;
  width: 300px;
  height: 300px;
  cursor: pointer;
  font-size: 50px;
}

.button{
  width: 300px;
  height: 300px;
  cursor: pointer;
} */
/* .main{
  width: 100vw;
  height: 300px;
  background-image: url("./800px-JavaScript-logo.png");
}
.img_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.img{
  width: 100px;
  height: 100px;
  background-image: url("./800px-JavaScript-logo.png");
  cursor: pointer;
  z-index: 2;
  background-size: cover;
} */

// .less{
//   word-break: break-all;
//   color: white;
// }

//////////////////////////////////////////////////



.card_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .card{
    width: 30%;
    height: 300px;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    .count_flex{
      display: flex;
      justify-content: center;
      align-items: center;
      .minus{
        width: 30px;
        height: 30px;
        font-size: 30px;
        border-radius: 50%;
        background-color: darkcyan;
        text-align: center;
      }
      .plus{
        width: 30px;
        height: 30px;
        font-size: 30px;
        border-radius: 50%;
        background-color: darkcyan;
        text-align: center;
      }
    }
  }
}
