.languages_info_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    .languages_buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .language_button{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: aliceblue;
            cursor: pointer;
        }
    }
}